HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewPartner">
<part name="parameters" element="tns:createNewPartner"/>
</message>
<message name="createNewPartnerResponse">
<part name="parameters" element="tns:createNewPartnerResponse"/>
</message>
<message name="PartnerExistsException">
<part name="fault" element="tns:PartnerExistsException"/>
</message>
<message name="retrieveAllPartners">
<part name="parameters" element="tns:retrieveAllPartners"/>
</message>
<message name="retrieveAllPartnersResponse">
<part name="parameters" element="tns:retrieveAllPartnersResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="PartnerDNEException">
<part name="fault" element="tns:PartnerDNEException"/>
</message>
<message name="retrievePartnerByPartnerId">
<part name="parameters" element="tns:retrievePartnerByPartnerId"/>
</message>
<message name="retrievePartnerByPartnerIdResponse">
<part name="parameters" element="tns:retrievePartnerByPartnerIdResponse"/>
</message>
<message name="retrievePartnerByUsername">
<part name="parameters" element="tns:retrievePartnerByUsername"/>
</message>
<message name="retrievePartnerByUsernameResponse">
<part name="parameters" element="tns:retrievePartnerByUsernameResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="createNewPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerRequest" message="tns:createNewPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartnerResponse" message="tns:createNewPartnerResponse"/>
<fault message="tns:PartnerExistsException" name="PartnerExistsException" wsam:Action="http://ws.session.ejb/PartnerWebService/createNewPartner/Fault/PartnerExistsException"/>
</operation>
<operation name="retrieveAllPartners">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllPartnersRequest" message="tns:retrieveAllPartners"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAllPartnersResponse" message="tns:retrieveAllPartnersResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
<fault message="tns:PartnerDNEException" name="PartnerDNEException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/PartnerDNEException"/>
</operation>
<operation name="retrievePartnerByPartnerId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByPartnerIdRequest" message="tns:retrievePartnerByPartnerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByPartnerIdResponse" message="tns:retrievePartnerByPartnerIdResponse"/>
<fault message="tns:PartnerDNEException" name="PartnerDNEException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByPartnerId/Fault/PartnerDNEException"/>
</operation>
<operation name="retrievePartnerByUsername">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsernameRequest" message="tns:retrievePartnerByUsername"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsernameResponse" message="tns:retrievePartnerByUsernameResponse"/>
<fault message="tns:PartnerDNEException" name="PartnerDNEException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerByUsername/Fault/PartnerDNEException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerExistsException">
<soap:fault name="PartnerExistsException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartners">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="PartnerDNEException">
<soap:fault name="PartnerDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerDNEException">
<soap:fault name="PartnerDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerDNEException">
<soap:fault name="PartnerDNEException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>