HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getStringOfCheckOutDate">
<part name="parameters" element="tns:getStringOfCheckOutDate"/>
</message>
<message name="getStringOfCheckOutDateResponse">
<part name="parameters" element="tns:getStringOfCheckOutDateResponse"/>
</message>
<message name="ReservationDNEException">
<part name="fault" element="tns:ReservationDNEException"/>
</message>
<message name="getStringOfCheckInDate">
<part name="parameters" element="tns:getStringOfCheckInDate"/>
</message>
<message name="getStringOfCheckInDateResponse">
<part name="parameters" element="tns:getStringOfCheckInDateResponse"/>
</message>
<message name="retrieveAllReservations">
<part name="parameters" element="tns:retrieveAllReservations"/>
</message>
<message name="retrieveAllReservationsResponse">
<part name="parameters" element="tns:retrieveAllReservationsResponse"/>
</message>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="ReservationExistsException">
<part name="fault" element="tns:ReservationExistsException"/>
</message>
<message name="retrieveReservationByReservationId">
<part name="parameters" element="tns:retrieveReservationByReservationId"/>
</message>
<message name="retrieveReservationByReservationIdResponse">
<part name="parameters" element="tns:retrieveReservationByReservationIdResponse"/>
</message>
<message name="retrieveAllReservationsOfGuestId">
<part name="parameters" element="tns:retrieveAllReservationsOfGuestId"/>
</message>
<message name="retrieveAllReservationsOfGuestIdResponse">
<part name="parameters" element="tns:retrieveAllReservationsOfGuestIdResponse"/>
</message>
<message name="GuestDNEException">
<part name="fault" element="tns:GuestDNEException"/>
</message>
<message name="retrieveAllReservationsOfPartnerId">
<part name="parameters" element="tns:retrieveAllReservationsOfPartnerId"/>
</message>
<message name="retrieveAllReservationsOfPartnerIdResponse">
<part name="parameters" element="tns:retrieveAllReservationsOfPartnerIdResponse"/>
</message>
<message name="PartnerDNEException">
<part name="fault" element="tns:PartnerDNEException"/>
</message>
<message name="associateReservationWithPartner">
<part name="parameters" element="tns:associateReservationWithPartner"/>
</message>
<message name="associateReservationWithPartnerResponse">
<part name="parameters" element="tns:associateReservationWithPartnerResponse"/>
</message>
<message name="updateReservationBookingAmount">
<part name="parameters" element="tns:updateReservationBookingAmount"/>
</message>
<message name="updateReservationBookingAmountResponse">
<part name="parameters" element="tns:updateReservationBookingAmountResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="getStringOfCheckOutDate">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getStringOfCheckOutDateRequest" message="tns:getStringOfCheckOutDate"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getStringOfCheckOutDateResponse" message="tns:getStringOfCheckOutDateResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/getStringOfCheckOutDate/Fault/ReservationDNEException"/>
</operation>
<operation name="getStringOfCheckInDate">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/getStringOfCheckInDateRequest" message="tns:getStringOfCheckInDate"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/getStringOfCheckInDateResponse" message="tns:getStringOfCheckInDateResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/getStringOfCheckInDate/Fault/ReservationDNEException"/>
</operation>
<operation name="retrieveAllReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsRequest" message="tns:retrieveAllReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsResponse" message="tns:retrieveAllReservationsResponse"/>
</operation>
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
<fault message="tns:ReservationExistsException" name="ReservationExistsException" wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservation/Fault/ReservationExistsException"/>
</operation>
<operation name="retrieveReservationByReservationId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByReservationIdRequest" message="tns:retrieveReservationByReservationId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByReservationIdResponse" message="tns:retrieveReservationByReservationIdResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByReservationId/Fault/ReservationDNEException"/>
</operation>
<operation name="retrieveAllReservationsOfGuestId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsOfGuestIdRequest" message="tns:retrieveAllReservationsOfGuestId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsOfGuestIdResponse" message="tns:retrieveAllReservationsOfGuestIdResponse"/>
<fault message="tns:GuestDNEException" name="GuestDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsOfGuestId/Fault/GuestDNEException"/>
</operation>
<operation name="retrieveAllReservationsOfPartnerId">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsOfPartnerIdRequest" message="tns:retrieveAllReservationsOfPartnerId"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsOfPartnerIdResponse" message="tns:retrieveAllReservationsOfPartnerIdResponse"/>
<fault message="tns:PartnerDNEException" name="PartnerDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveAllReservationsOfPartnerId/Fault/PartnerDNEException"/>
</operation>
<operation name="associateReservationWithPartner">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/associateReservationWithPartnerRequest" message="tns:associateReservationWithPartner"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/associateReservationWithPartnerResponse" message="tns:associateReservationWithPartnerResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/associateReservationWithPartner/Fault/ReservationDNEException"/>
<fault message="tns:PartnerDNEException" name="PartnerDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/associateReservationWithPartner/Fault/PartnerDNEException"/>
</operation>
<operation name="updateReservationBookingAmount">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/updateReservationBookingAmountRequest" message="tns:updateReservationBookingAmount"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/updateReservationBookingAmountResponse" message="tns:updateReservationBookingAmountResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservationWebService/updateReservationBookingAmount/Fault/ReservationDNEException"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStringOfCheckOutDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
</operation>
<operation name="getStringOfCheckInDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationExistsException">
<soap:fault name="ReservationExistsException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservationByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservationsOfGuestId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GuestDNEException">
<soap:fault name="GuestDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservationsOfPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerDNEException">
<soap:fault name="PartnerDNEException" use="literal"/>
</fault>
</operation>
<operation name="associateReservationWithPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
<fault name="PartnerDNEException">
<soap:fault name="PartnerDNEException" use="literal"/>
</fault>
</operation>
<operation name="updateReservationBookingAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>