HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/RoomTypeWebService/RoomTypeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="RoomTypeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/RoomTypeWebService/RoomTypeWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllRoomTypes">
<part name="parameters" element="tns:retrieveAllRoomTypes"/>
</message>
<message name="retrieveAllRoomTypesResponse">
<part name="parameters" element="tns:retrieveAllRoomTypesResponse"/>
</message>
<message name="retrieveRoomTypeByRoomTypeName">
<part name="parameters" element="tns:retrieveRoomTypeByRoomTypeName"/>
</message>
<message name="retrieveRoomTypeByRoomTypeNameResponse">
<part name="parameters" element="tns:retrieveRoomTypeByRoomTypeNameResponse"/>
</message>
<message name="RoomTypeDNEException">
<part name="fault" element="tns:RoomTypeDNEException"/>
</message>
<message name="retrieveRoomTypeByRoomTypeId">
<part name="parameters" element="tns:retrieveRoomTypeByRoomTypeId"/>
</message>
<message name="retrieveRoomTypeByRoomTypeIdResponse">
<part name="parameters" element="tns:retrieveRoomTypeByRoomTypeIdResponse"/>
</message>
<message name="checkAvailabilityForRoomType">
<part name="parameters" element="tns:checkAvailabilityForRoomType"/>
</message>
<message name="checkAvailabilityForRoomTypeResponse">
<part name="parameters" element="tns:checkAvailabilityForRoomTypeResponse"/>
</message>
<message name="searchAvailableRoomTypesWithNumberOfRooms">
<part name="parameters" element="tns:searchAvailableRoomTypesWithNumberOfRooms"/>
</message>
<message name="searchAvailableRoomTypesWithNumberOfRoomsResponse">
<part name="parameters" element="tns:searchAvailableRoomTypesWithNumberOfRoomsResponse"/>
</message>
<portType name="RoomTypeWebService">
<operation name="retrieveAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveAllRoomTypesRequest" message="tns:retrieveAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveAllRoomTypesResponse" message="tns:retrieveAllRoomTypesResponse"/>
</operation>
<operation name="retrieveRoomTypeByRoomTypeName">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByRoomTypeNameRequest" message="tns:retrieveRoomTypeByRoomTypeName"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByRoomTypeNameResponse" message="tns:retrieveRoomTypeByRoomTypeNameResponse"/>
<fault message="tns:RoomTypeDNEException" name="RoomTypeDNEException" wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByRoomTypeName/Fault/RoomTypeDNEException"/>
</operation>
<operation name="retrieveRoomTypeByRoomTypeId">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByRoomTypeIdRequest" message="tns:retrieveRoomTypeByRoomTypeId"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByRoomTypeIdResponse" message="tns:retrieveRoomTypeByRoomTypeIdResponse"/>
<fault message="tns:RoomTypeDNEException" name="RoomTypeDNEException" wsam:Action="http://ws.session.ejb/RoomTypeWebService/retrieveRoomTypeByRoomTypeId/Fault/RoomTypeDNEException"/>
</operation>
<operation name="checkAvailabilityForRoomType">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/checkAvailabilityForRoomTypeRequest" message="tns:checkAvailabilityForRoomType"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/checkAvailabilityForRoomTypeResponse" message="tns:checkAvailabilityForRoomTypeResponse"/>
<fault message="tns:RoomTypeDNEException" name="RoomTypeDNEException" wsam:Action="http://ws.session.ejb/RoomTypeWebService/checkAvailabilityForRoomType/Fault/RoomTypeDNEException"/>
</operation>
<operation name="searchAvailableRoomTypesWithNumberOfRooms">
<input wsam:Action="http://ws.session.ejb/RoomTypeWebService/searchAvailableRoomTypesWithNumberOfRoomsRequest" message="tns:searchAvailableRoomTypesWithNumberOfRooms"/>
<output wsam:Action="http://ws.session.ejb/RoomTypeWebService/searchAvailableRoomTypesWithNumberOfRoomsResponse" message="tns:searchAvailableRoomTypesWithNumberOfRoomsResponse"/>
</operation>
</portType>
<binding name="RoomTypeWebServicePortBinding" type="tns:RoomTypeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveRoomTypeByRoomTypeName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeDNEException">
<soap:fault name="RoomTypeDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRoomTypeByRoomTypeId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeDNEException">
<soap:fault name="RoomTypeDNEException" use="literal"/>
</fault>
</operation>
<operation name="checkAvailabilityForRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeDNEException">
<soap:fault name="RoomTypeDNEException" use="literal"/>
</fault>
</operation>
<operation name="searchAvailableRoomTypesWithNumberOfRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RoomTypeWebService">
<port name="RoomTypeWebServicePort" binding="tns:RoomTypeWebServicePortBinding">
<soap:address location="http://localhost:8080/RoomTypeWebService/RoomTypeWebService"/>
</port>
</service>
</definitions>