HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/ReservedRoomWebService/ReservedRoomWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservedRoomWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservedRoomWebService/ReservedRoomWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="associateReservedRoomWithDatesWebService">
<part name="parameters" element="tns:associateReservedRoomWithDatesWebService"/>
</message>
<message name="associateReservedRoomWithDatesWebServiceResponse">
<part name="parameters" element="tns:associateReservedRoomWithDatesWebServiceResponse"/>
</message>
<message name="retrieveReservedRoomsByReservationId">
<part name="parameters" element="tns:retrieveReservedRoomsByReservationId"/>
</message>
<message name="retrieveReservedRoomsByReservationIdResponse">
<part name="parameters" element="tns:retrieveReservedRoomsByReservationIdResponse"/>
</message>
<message name="ReservationDNEException">
<part name="fault" element="tns:ReservationDNEException"/>
</message>
<message name="createNewReservedRoom">
<part name="parameters" element="tns:createNewReservedRoom"/>
</message>
<message name="createNewReservedRoomResponse">
<part name="parameters" element="tns:createNewReservedRoomResponse"/>
</message>
<message name="RoomTypeDNEException">
<part name="fault" element="tns:RoomTypeDNEException"/>
</message>
<message name="retrieveAllReservedRooms">
<part name="parameters" element="tns:retrieveAllReservedRooms"/>
</message>
<message name="retrieveAllReservedRoomsResponse">
<part name="parameters" element="tns:retrieveAllReservedRoomsResponse"/>
</message>
<portType name="ReservedRoomWebService">
<operation name="associateReservedRoomWithDatesWebService">
<input wsam:Action="http://ws.session.ejb/ReservedRoomWebService/associateReservedRoomWithDatesWebServiceRequest" message="tns:associateReservedRoomWithDatesWebService"/>
<output wsam:Action="http://ws.session.ejb/ReservedRoomWebService/associateReservedRoomWithDatesWebServiceResponse" message="tns:associateReservedRoomWithDatesWebServiceResponse"/>
</operation>
<operation name="retrieveReservedRoomsByReservationId">
<input wsam:Action="http://ws.session.ejb/ReservedRoomWebService/retrieveReservedRoomsByReservationIdRequest" message="tns:retrieveReservedRoomsByReservationId"/>
<output wsam:Action="http://ws.session.ejb/ReservedRoomWebService/retrieveReservedRoomsByReservationIdResponse" message="tns:retrieveReservedRoomsByReservationIdResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservedRoomWebService/retrieveReservedRoomsByReservationId/Fault/ReservationDNEException"/>
</operation>
<operation name="createNewReservedRoom">
<input wsam:Action="http://ws.session.ejb/ReservedRoomWebService/createNewReservedRoomRequest" message="tns:createNewReservedRoom"/>
<output wsam:Action="http://ws.session.ejb/ReservedRoomWebService/createNewReservedRoomResponse" message="tns:createNewReservedRoomResponse"/>
<fault message="tns:ReservationDNEException" name="ReservationDNEException" wsam:Action="http://ws.session.ejb/ReservedRoomWebService/createNewReservedRoom/Fault/ReservationDNEException"/>
<fault message="tns:RoomTypeDNEException" name="RoomTypeDNEException" wsam:Action="http://ws.session.ejb/ReservedRoomWebService/createNewReservedRoom/Fault/RoomTypeDNEException"/>
</operation>
<operation name="retrieveAllReservedRooms">
<input wsam:Action="http://ws.session.ejb/ReservedRoomWebService/retrieveAllReservedRoomsRequest" message="tns:retrieveAllReservedRooms"/>
<output wsam:Action="http://ws.session.ejb/ReservedRoomWebService/retrieveAllReservedRoomsResponse" message="tns:retrieveAllReservedRoomsResponse"/>
</operation>
</portType>
<binding name="ReservedRoomWebServicePortBinding" type="tns:ReservedRoomWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="associateReservedRoomWithDatesWebService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveReservedRoomsByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservedRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationDNEException">
<soap:fault name="ReservationDNEException" use="literal"/>
</fault>
<fault name="RoomTypeDNEException">
<soap:fault name="RoomTypeDNEException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllReservedRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservedRoomWebService">
<port name="ReservedRoomWebServicePort" binding="tns:ReservedRoomWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservedRoomWebService/ReservedRoomWebService"/>
</port>
</service>
</definitions>